:root {
  --color-10: #add8e6;
  --color-20: yellow;
  --color--30: #000000;
  --color-40: #fff;
  --color-50: lightyellow;
  --color-60: red;
  --color-70: #d9c3ef;
  --color-80: #e6d7f4;
  --color-90: #995ed4;
  --color-100: #ff2992;
  --color-110: #662ba1;
}

body {
  /* background-image: linear-gradient(lightyellow, #d9c3ef, #d9c3ef);*/
  /*  background: linear-gradient(to left, lightyellow,#d9c3ef,#d9c3ef);
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);*/
  background: linear-gradient( to right lightyellow 30%, #d9c3ef 90%, lightblue);
    background-repeat: no-repeat;
  background-size: 100%;
  margin: 1em;
    width:90%;
  min-height: 100vh;
  padding: 0;
  line-height: 1em;
  justify-content: center;
  align-items: center;
}

.dropdown-item {
  color: var(--color-110) !important;
  font-size: 1.3em;
  padding: 0.5em;
  margin: 0.5em;
}
.dropdown-item:hover {
  /* color: var(--color-neutral-100) !important;*/
  color: gray !important;
  background: transparent !important;
  text-decoration: underline;
  /*text-decoration-color: var(--color-100);*/
  text-decoration-color: #404040;
}
.dropdown-menu {
  background-color:#ffffcc;
}
div.footer {
  position: relative;
  left: -3em;
}

footer {
  width: 100%;
  display: flex;
  color: var(--color-30);
}
#github {
  background-color: black;
}

h1.main {
  /*
  color: var(--color-neutral-100);
  /*padding: 1em;*/
  color: var(--color-110);
  font-family: "Lustria", serif;
  line-height: 1em;
  font-weight: normal;
  font-size: 2em;
  margin: 1em;
  text-align: justify;
}

h2.main {
  /*
  color: var(--color-100);
  padding: 1em;*/
  font-family: "Lustria", serif;
  line-height: 1em;
  font-weight: normal;
  color: var(--color-110);
  margin: 1em;
  font-size: 2em;
  text-align: justify;
}

h3.footer {
  /*
  color: var(--color-100);
  */
  color: var(--color-110);
  font-family: "Lustria", serif;
  font-size: 2rem;
  font-weight: normal;
}

iframe {
  margin: 1em;
  width: 300px;
  height: 300px;
  border: 0;
  position: relative;
  right: 15px;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  align-items: center;
  margin: 0.8;
}
#instagram:hover {
  opacity: 0.8;
  /*
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function:ease ;
  */
}

img.logo {
  width: 120px;
  height: 120px;
}

#linktopo{
  position: fixed;
  bottom: 20px;
  color: black;
  background-color: var(--color-80);
  right: 20px;
  z-index: 9999;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 25%;
  font-size: 42px;
}
.links {
  margin: 0.8em;
  border-radius: 50%;
}

.links:hover {
  opacity: 0.8;
  /*
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function:ease ;
  */
}

main {
  height: 80vh;
}

@media screen and (max-width: 700px) {
  .contatos {
    margin:1.4em;
    position:relative;
    left:16px;
  }

  div.footer {
    color: var(--color-110);
    font-family: "Lustria", serif;
    font-size: 1em;
    /*margin: 2rem;*/
    font-weight: normal;
  }
    .dropdown-menu {
    background-color: transparent;
  }

   footer {
    display: flex;
    flex-direction: column;
  }
  
   #github {
    background-color: black;
  }
  
  h1.main {
    display: inline-block;
    font-size: 2em;
    text-align: center;
  }
  
  h2.main {
    display: inline-block;
    font-size: 2em;
    text-align: center;
  }
  
  iframe {
    margin: 2em;
    width: 200px;
    height: 200px;
    border: 0;
    position:relative;
    right:40px;  
  }
  
  img.logo{
    padding:1.3em;
    position:relative;
    left:1px;
  }

    main {
    padding: 1.4rem;
    position: relative;
    right: 40px;
  }
 
  .nav-link {
    margin: 0.2em;
  }
  
  .p{
  letter-spacing:-0.12em;
  }
  
  p.footer {
    font-size: 1em;
  }
  
    p.main {
    font-size: 0.9em;
    margin: 2em;
    text-align: justify;
  }
  
  redes {
    position: relative;
    right: 60px;
  }

  #whats {
    margin: 2em;
    border-radius: 50%;
    position: relative;
    left: 180px;
  }  
}

/*fim media queries*/

.nav-link {
  color: var(--color-110);
  text-decoration: none;
  font-size: 1.3em !important;
  font-family: "Lora", serif;
}
.nav-link:hover {
  /*color:var(--color-100);*/
  color: gray;
  text-decoration: underline;
  /*text-decoration-color: var(--color-100);*/
  text-decoration-color: #404040;
}

#nav-icon {
  color: gray;
  font-size: 40px;
}

#nav-icon:hover {
  color: var(--color-90);
}
p.main {
  font-family: "Lora", serif;
  line-height: 1em;
  font-weight: normal;
  color: var(--color--30);
  font-size: 1.2em;
  margin: 1em;
  text-align: justify;
}

p.footer {
  font-family: "Lora", serif;
  font-size: 1em;
  margin: 1em;
  padding: 0;
  text-align: justify;
  line-height: 1em;
  position: relative;
  right: 30px;
}

#whats {
  background: #25d366;
  align-items: center;
  margin: 0.8;
}
