
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.dropdown-menu {
background-color: transparent;
}

.dropdown-item {
color: var(--color-110) !important;
padding: 0.5em;
margin: 0.5em;
}

.dropdown-item:hover {
/* color: var(--color-neutral-100) !important;*/
color: gray !important;
background: transparent !important;
text-decoration: underline;
/*text-decoration-color: var(--color-100);*/
text-decoration-color: #404040;
}

.dropdown-menu {
background-color:transparent;
}
:root {
  --color-10:#87F585;
  --color-20: orange;
  --color-30: red;
  --color-40: orangered;
}

html {scroll-behavior: smooth;}

body{
  padding: 0;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  margin-left:0.3rem;
}
/*conteudo do site  */
.titulos{
  color: var(--color-40);
  font-size: 1.5rem;
  margin-top: 0.6em;
}

.container{
  margin-left:0.3em;
}

p.main {
  text-align: justify;
  font-size:1em;
  font-family: 'Montserrat', sans-serif;
  width:75%;

}


/* cards*/ 
#card{
  color: black;
  text-align: justify;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}
#card:hover{
  color: orangered;
}

.card-title{
  font-size: 1.8rem;
  text-align: left;
  color: black;

}

ul{
  list-style: none;
  padding: 0;

}
#address:link{
  color: black;
}
#address:visited{
  color: black;
}
#address:hover{
  color:orangered;
}
/*Barra de navegação  */
.nav-link{
  color:var(--color-40);
}
.nav-link:hover{
  color: white;
}


#instagram {
  
  color: white;
  background:radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
    );
  
  border-radius:25%;
  width:100%;
  height:20rem;
  font-size: 1.5rem;
}
li{
  text-decoration: none;
}
footer {
  display: flex;
  flex-direction: column;
   font-size:1em;
  width:100%;
  background-color: lightgreen;
  color: black;
}

#whats {
  color: white;
  background: #25d366;
  align-items: center;
  font-size: 1.5rem;
  border-radius:34%;
  width:100%;
}
#phone{
  color: white;
  background:orange;
  align-items: center;
  font-size: 1.5rem;
  border-radius:34%;
  width:100%;
  
}

nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  background-color:#87F585;
}
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link:hover{
  color:white;
  text-decoration:none;
}
.nav-link:visited{
  color:black;
  text-decoration:none;
}



#instagram:hover {
  opacity: 0.8;
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function:ease ;
  
}
#instagram:visited{
  color:white;
}

.logo{
  background-color:#d1fbd0;
}
img{
margin: 0.5rem;
    }





 
  @media screen and (max-width: 992px) {
    body{
      padding: 0;
      color: black;
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
      
    }
    footer {
      display: flex;
      flex-direction: column;
       font-size:1em;
      width:100%;
      background-color: lightgreen;
      color: black;
    }
    .card-body{
      color: black;
      text-align: justify;
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      padding:3rem;
    }
    img{
margin: 0.3rem;
    }
    #instagram {
      /*background: linear-gradient(#7f37c9, #ff2992, #ff9807);*/
      color: white;
      background:radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
        );
      border-radius:30%;
      width: 20rem;
      height:20rem;
    }
    nav{
      width: 100%;
    }
    .nav-link {
      color: var(--color-110);
       margin: 0.2em;
      font-size: 1.3em !important;
      font-family: "Lora", serif;

    }

    .nav-link:hover {
      color:black;
    text-decoration: underline;
      text-decoration-color:none;
    }

    #whats {
      background: #25d366;
      align-items: center;
    }
    
  }  