:root {
  --color-neutral-10: #add8e6;
  --color-neutral-30: #000000;
  --color-neutral-40: #fff;
  --color-neutral-50: #FFF9A6;
  --color-neutral-70: #d9c3ef;
  --color-neutral-80: #e6d7f4;
  --color-neutral-90: #995ed4;
  --color-neutral-100: #ff2992;


}

a:hover.nav-link {
  color: black;
}


a:visited.nav-link {
  color: #551a8b;
}

body {
  background-image: linear-gradient(lightyellow, #d9c3ef, #d9c3ef);
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1em;

  justify-content: center;
  align-items: center;
}

.bg {
  background-color: var(--color-neutral-80);

}

#btnTop {
  position: fixed;
  bottom: 18px;
  right: 50px;
  height: 50px;
  border: none;
  width: 50px;
  background: var(--color-neutral-100);
  border-radius: 100%;
  font-size: 2em;
  cursor: pointer;
  font-weight: bolder;
}


footer {
  width: 100%;
  color: var(--color-neutral-30);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
}

#footer_content h3 {
  color: var(--color-neutral-100);
  font-family: 'Lora', serif;
  line-height: 1em;
  list-style: none;
  font-style: italic;



}

#footer_content p {
  font-family: 'Lora', serif;
  font-size: 1.6em;
  text-align: justify;
  line-height: 1em;


}



#footer_social_media .footer-link:hover {
  opacity: 0.6;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}


#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
  font-size: 1.6em;
  font-family: 'Lustria', serif;
  text-align: justify;


}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 20%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#github {
  list-style: none;
  font-size: 3em;

}

#github i {
  color: black;
  align-items: center;
}


i.bi.bi-github:hover {
  opacity: 0.6;
}


h1.main {
  color: var(--color-neutral-100);
  text-align: center;
  display: inline-block;
  padding: 1em;
  font-family: 'Lora', serif;
  margin: 0.25em;
  line-height: 1em;


}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#input_group {
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-align: justify;
  line-height: 1em;
  background-color: var(--color-neutral-50);

}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: var(--color-neutral-100);
  border: none;
  color: var(--color-neutral-30);
  padding: 0px 1.25rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.5em;
}

#input_group button:hover {
  opacity: 0.8;
}

img.logo {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: none;

}

.loupe {
  position: relative;
  left: 10%;
  top: 20%;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

}

main {
  height: 80vh;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

.nav-link,
nav-item {
  color: darkviolet;
  font-size: 2rem;
  font-family: 'Lora', serif;

}


p.main {
  display: inline-block;
  font-family: 'Lustria', serif;
  font-size: 1.6em;
  margin: 1em;
  text-align: justify;
  line-height: 1em;

}

/*navbar*/
.pesquisa {
  background: none;
  border: none;
  outline: none;
}

::placeholder {
  font-family: 'Lustria', serif;
  color:var(--color-neutral-90);
  font-style: italic;
  font-size: 1.5em;
}

/* Barra de pesquisa*/

.search-box {
  /*position absolute permite alocar seu elemento onde quiser*/
  position: absolute;
  top: 30%;
  left: 50%;
  /*transform: translate(-40%,-40%);*/
  background: var(--color-neutral-70);
  height: 40px;
  padding: 10px;
  border-width: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;


}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}